* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1b2838;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 20px;
    padding: 30px;
}
.logo {
    padding: 14px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #75808a;
}
a:hover {
    color: #c1dbf4;
}

hr {
    margin: 10px 0;
}

h1 {
    margin: 10px 0;
    /* margin-bottom: 20px; */
}

#games-list {
    margin-top: 6px;
}
.games-list-item {
    margin: 4px 0;
    padding-left: 14px;
}
.games-list-item:hover {
    color: white;
}

label, .info, .title {
    display: block;
    margin-bottom: 2px;
    outline: none;
}
.info {
    color: #647580;
    margin-bottom: 10px;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #1b2838;
    text-align: center;
    padding: 2px;
}

/* input[type=text] {
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin: 4px 0;
}
input[type=text]::placeholder {
    color: rgb(164, 173, 179);
} */

input{
    padding: 0 10px;
    height: 2em;
    border: none;
    border-radius: 4px;
    margin: 2px 0;
}
input::placeholder {
    color: rgb(164, 173, 179);
}

input[type=submit],
input[type=button] {
    /* padding: 2px 8px; */
    cursor: pointer;
}

#game-link {
    width: 70%;
    max-width: 600px;
}

.info {
    /* color: #768b93; */
    /* margin: 4px 0; */
}




.user_reviews_sub_header {
    margin-bottom: 30px;
    font-size: 30px;
}
/* div.leftcol {
    width: 700px;
    float: left;
}
div.rightcol {
    width: 308px;
    margin-left: 14px;
    float: right;
} */

#root {
    max-width: 600px;
    margin: 0 auto;
}

.review_box {
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 26px;
}

.review_box .leftcol {
    /* width: 184px; */
    /* float: left; */
    padding: 6px 0;
    margin-left: 14px;
    /* padding-left: 20px; */
    opacity: 0.6;
    display: flex;
    /* flex-direction: column; */
}

.review_box .rightcol {
    /* float: left; */
    /* width: 675px; */
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
}

.review_box .postedDate {
    /* margin: 0px 0px 8px; */
    /* font-size: 10px; */
    /* text-transform: uppercase; */
    font-style: normal;
    color: #8091a2;
    display: inline-block;
    /* opacity: 0.8; */
}

.review_box .content {
    font-size: 20px;
    line-height: 28px;
    background-color: #9cb3bc;
    color: #0e2d45;
    padding: 30px;
    margin-top: 6px;
    /* width: 95%; */
    transition: background-color 0.5s;
}
.review_box .content:hover {
    background-color: #bed5de;
}

.review_box .content br {
    margin: 8px;
    display: block;
}

.vote_info {
    /* padding: 0px 9px 8px 0px; */
    padding: 4px;
    font-size: 10px;
    color: #647580;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* min-height: 16px; */
}

.commentCount,
.recommendation_row .vote_info .commentCount {
    float: right;
}

.persona_name {
    overflow: hidden;
    /* margin-left: 8px; */
}
.hours.ellipsis {
    display: inline;
    color: rgb(42, 187, 255);
}


.avatar,
.responsive_review_leftcol_ctn,
.title.ellipsis,
.posted,
.commentCount,
.review_award,
.review_source,
.view_more,
.thumb,
.responsive_purchase_source,
.control_block,
.num_owned_games,
.num_reviews {
    display: none;
}